body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.1); /* Background transparent */
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Glassmorphism effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
    width: 80%;
    max-width: 600px;
    display: flex;
     flex-direction: column;
     margin-left: 10%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.1rem;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 5px;
}

p {
    font-size: 1.2rem;
    text-align: center;
}





  /* bouton A */

  .glass-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glass-link:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.4);
}



/* a{
    margin-top: 40%;
} */







